#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  width: 100vw;
}

/* SECTIONS */
.section {
  padding: 100px 0 100px 0;
}
.section-bg {
  background-color: #0c1618;
}

/* HEADER */
.header {
  min-height: 650px;
  position: sticky; position: -webkit-sticky;
  top: 0;
  z-index: -1;
  background-image: linear-gradient(180deg, #0c1618, #004643);
}
.header h1 {
  color: #faf4d3;
}

/* ABOUT */
#about {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}
.img-div img {
  margin-left: -12px;
  width: 200px;
}
.img-div {
  margin: 0 20px;
  /* border: 2px solid pink; */
  width: 180px; height: 180px;
  overflow: hidden;
  border-radius: 50%;
}
.text {
  margin: 0 20px;
  max-width: 500px;
}

@media screen and (max-width: 450px){
  .header {
    width: 100%;
  }
  #about {
    flex-direction: column;
  }
}