/* NAVIGATION STYLYING */
.nav {
    display: flex;
    border: 2px solid salmon;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    /* background-color: aqua; */
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 20px;
}

.nav-elements {
    display: flex;
    margin-right: 20px;
}

li {
    list-style: none;
}

a {
    color: #faf4d3;
}

/* MEDIA SCREEN */