/* nav bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 5px 0;
    /* border-bottom: 4px solid var(--dark-bg); */
}
.darcy-link h1 {
    padding: 0;
    margin: 0 20px;

    font-size: 2.2rem;
}
.darcy-link h1:hover {
    text-decoration: underline;
    transition: 5s;
}
.darcy-link {
    text-decoration: none;
    color: var(--white);
}
.links {
    margin-right: 20px;
}
.link {
    margin: 0 10px;
    text-decoration: none;
    color: var(--white);
}
.link:hover {
    font-weight: 700;
}


/* top fold */
.top-bg {
    position: relative;
}
.top-info {
    /* background-color: pink; */
    background-image: url('../assets/mountains.jpg');
    /* filter: grayscale(100%); */
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.top-info::before {
    content: "";
    position: absolute;
    background-color: #202926b0;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 9;
}
.hero {
    position: relative;
    height: 370px;
    width: 465px;
    padding: 20px 40px;
    /* border: 4px solid var(--black); */
    border-bottom: none;
    /* background-color: #ecf8b0; */
    z-index: 100;
}

/* about page */
.about-outer {
    position: relative;
    padding: 100px 0;
    /* border-top: 35px solid var(--dark-bg); */
}

.about-focus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-info {
    display: flex;
    justify-content: space-evenly;

    width: 80vw;
}
.hobby-list {
    margin-top: 0;
    padding-left: 7px;
    font-size: 1.3rem;
    list-style: none;
}
.hobby-list li::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
    width: 22px;
    height: 22px;
    background-image: url('./assets/arrow-dark.png');
    background-size: contain;
}
/* all containers holding quick info */
.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    height: 220px;
    
    background-color: var(--light-bg);
    border: 2px solid var(--black);
    box-shadow: 8px 8px var(--dark-bg);
}
.about-text:hover {
    animation: twitch 1s;
}
/* languages */
.lang-outer {
    display: flex;
    justify-content: center;
    background-color: var(--dark-bg);
}
.lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.lang img {
    height: 50px;
}

/* #first-img {
    padding: 0 50px 0 0;
} */
/* #last-img {
    padding: 0 0 0 50px;
} */

/* location */
.map-pin {
    position: relative;
    height: 50px;
    width: 50px;
    border: 6px solid var(--orange);
    border-radius: 50% 50% 50% 0;
    rotate: -45deg;
}
.map-pin::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    height: 36px;
    width: 36px;
    background-color: var(--orange);
    border-radius: 50%;
}
.location {
    margin-top: 20px;
    font-size: 1.4rem;
}


/* projects page */
.projects-outer {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding: 150px 0;

    background-color: var(--dark-bg);
}
.projects-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: var(--white); */
}
