// Colors
$primary: #637397;
$secondary: #dafea4;
$light: #fbf8f4;
// $dark: #162802;
$dark: #202221;
$success: #babd8e;
$info: #82b7b0;
$warning: #fa9500;
$danger: #eb3b20;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

h2 {
    padding: 20px 0 20px 0;
    border-top: 3px solid #82b7b0;
}

.main-bg {
    color: white;
    display: flex;
    min-height: 100vh;
}



@import '/node_modules/bootstrap/scss/bootstrap.scss'