* {
    font-family: system-ui, sans-serif;
}

:root {
    /* fonts */
    --main-font: system-ui, sans-serif;
    --accent-font: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;

    /* color palette */
    /* main colors */
    --light-bg: #202926;
    --dark-bg: #101916;

    /* accent colors */
    --off-white: #f2f2f2;
    --yellow: #e8fc87;
    --purple: #edb4f8;
    --periwinkle: #bbb4fe;
    --orange: #feb985;
    --white: #fffeec;
    --black: #141414;
}
/* uniform styling */
body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: var(--white);
    background-color: var(--light-bg);
}
html {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: var(--accent-font);
    font-weight: 700;
}

.bold {
    /* font-weight: 700; */
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: 1.3rem;
}

.main {
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 2.5rem;
}

/* buttons */
.btn-container {
    margin-top: 70px;
}
.btn {
    padding: 10px;
    text-decoration: none;
    font-family: var(--accent-font);
    font-size: 2rem;
    color: var(--white);

    border: 3px solid var(--black);
    background-color: var(--yellow);
    box-shadow: 10px 10px var(--orange);
}
.btn:hover {
    box-shadow: 15px 15px var(--orange);
    background-color: #cdde75;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

/* svg curves */
.top-curve {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 101;
}

.top-curve svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 58px;
}

.top-curve .shape-fill {
    fill: var(--dark-bg);
}
.about-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.about-curve svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 58px;
}

.about-curve .shape-fill {
    fill: var(--dark-bg);
}

.project-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.project-curve svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 112px;
}
.project-curve .shape-fill {
    fill: var(--light-bg);
}


/* animations */
@keyframes twitch {
    0% {
        rotate: 0deg;
    }
    10% {
        rotate: 5deg;
    }
    
    30% {
        rotate: -5deg;
    }
    
    50% {
        rotate: 5deg;
    }
    
    70% {
        rotate: -5deg;
    }
    90% {
        rotate: 5deg;
    }
    
}

@keyframes scroll {
    0% {
        transform: translateX(200px);
    }
    10% {
        transform: translateX(-10px);
    }
    15% {
        transform: translateX(-10px);
    }
    25% {
        transform: translateX(-245px);
    }
    30% {
        transform: translateX(-245px);
    }
    40% {
        transform: translateX(-480px);
    }
    45% {
        transform: translateX(-480px);
    }
    55% {
        transform: translateX(-700px);
    }
    60% {
        transform: translateX(-700px);
    }
    70% {
        transform: translateX(-930px);
    }
    75% {
        transform: translateX(-930px);
    }
    85% {
        transform: translateX(-1160px);
    }
    90% {
        transform: translateX(-1160px);
    }
    100% {
        transform: translateX(-1400px);
    }
}