/* nav bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 5px 0;
    border-bottom: 4px solid var(--worn-blue);
}
.darcy-link h1 {
    padding: 0;
    margin: 0 20px;

    font-size: 2.2rem;
}
.darcy-link h1:hover {
    text-decoration: underline;
    transition: 5s;
}
.darcy-link {
    text-decoration: none;
    color: var(--black);
}
.links {
    margin-right: 20px;
}
.link {
    margin: 0 10px;
    text-decoration: none;
    color: var(--black);
}
.link:hover {
    font-weight: 700;
}


/* top fold */
.top-bg {
    position: relative;
}
.top-info {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero {
    position: relative;
    height: 370px;
    width: 465px;
    padding: 20px 40px;
    border: 4px solid var(--black);
    border-bottom: none;
    background-color: #ecf8b0;
}
.hero::after {
    position: absolute;
    content: url('./assets/darcy-standing2-no-bg.png');
    height: 100%;
    width: 100%;
    top: -120px;
    left: 103px;
    scale: 15%;
    z-index: 9;
}

/* about page */
.about-outer {
    position: relative;
    padding: 100px 0;
    border-top: 35px solid var(--worn-blue);
}

.about-focus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-info {
    display: flex;
    justify-content: space-evenly;

    width: 80vw;
}
/* all containers holding quick info */
.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    height: 220px;
    
    background-color: var(--white);
    border: 2px solid var(--black);
    box-shadow: 8px 8px var(--worn-blue);
}
.about-text:hover {
    animation: twitch 1s;
}
/* languages */
.language-pngs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    opacity: .7;
    overflow: hidden;
}
.language-pngs img {
    height: 50px;
    /* max-width: 30px; */
    padding: 5px;

    position: relative;
    /* animation: scroll 20s linear infinite; */
}
/* #first-img {
    padding: 0 50px 0 0;
} */
/* #last-img {
    padding: 0 0 0 50px;
} */

/* location */
.map-pin {
    position: relative;
    height: 50px;
    width: 50px;
    border: 6px solid var(--orange);
    border-radius: 50% 50% 50% 0;
    rotate: -45deg;
}
.map-pin::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    height: 36px;
    width: 36px;
    background-color: var(--orange);
    border-radius: 50%;
}
.location {
    margin-top: 20px;
    font-size: 1.4rem;
}


/* projects page */
.projects-outer {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding: 150px 0;

    background-color: var(--worn-blue);
}
.projects-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: var(--white); */
}
