
/* nav bar */
.nav {
    border-bottom: 3px solid var(--mid-green);
    padding: 20px 0 5px 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-green);
}
.darcy-link h1 {
    padding: 0;
    margin: 0 20px;
    font-size: 2.2rem;
}
.darcy-link h1:hover {
    text-decoration: underline;
    transition: 5s;
}
.darcy-link {
    text-decoration: none;
    color: var(--off-white);
}
.links {
    margin-right: 20px;
}
.link {
    margin: 0 10px;
    text-decoration: none;
    color: var(--off-white);
}
.link:hover {
    font-weight: 700;
}


/* top fold */
.top-bg {
    height: 75vh;
}
.parallax {
    overflow: hidden;
    position: relative;
    min-height: 75vh;
    display: grid;
    grid-template-areas: "stack";
    z-index: 0;
    background-color: #394b45;
}
.parallax > * {
    grid-area: stack;
    height: 70vh;
    animation: parallax linear;
    animation-timeline: scroll(root block);
}
.parallax > img {
    margin-left: 40%;
}
.hero {
    margin-left: 30px;
    /* text-align: right; */
    z-index: 10;
    width: 37%;
    color: var(--off-white);
    --parallax-speed: 2;
}
.parallax-bg {
    content: url('./assets/background.png');
    height: 69vh;
    --parallax-speed: -2;
}
.parallax-code {
    content: url('./assets/floating-code.png');
    --parallax-speed: -3
}
.parallax-girl {
    content: url('./assets/girl.png');
    --parallax-speed: -4;
}
.parallax-table {
    content: url('./assets/table.png');
    --parallax-speed: 1.2;
}
.parallax-window {
    content: url('./assets/window.png');
}

/* about page */
.about-outer {
    position: relative;
    padding: 150px 100px 100px 100px;
    background-color: var(--mid-green);
}
.about-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.about-curve svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 136px;
}
.about-curve .shape-fill {
    fill: var(--dark-green);
}
/* .about-head {
    background-color: pink;
} */
.about-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    /* border: 2px solid var(--mid-grey); */
    border-radius: 50%;
}
.map-pin {
    position: relative;
    height: 50px;
    width: 50px;
    border: 6px solid var(--dark-green);
    border-radius: 50% 50% 50% 0;
    rotate: -45deg;
}
.map-pin::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    height: 36px;
    width: 36px;
    background-color: var(--dark-green);
    border-radius: 50%;
}
.location {
    margin-top: 20px;
    font-size: 1.4rem;
    /* font-weight: bold; */
}

/* projects page */
.projects-outer {
    position: relative;
    padding: 200px 100px 100px 100px;
    color: var(--off-white);
}
.project-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.project-curve svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 112px;
}

.project-curve .shape-fill {
    fill: var(--mid-green);
}
