* {
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}
:root {
    /* fonts */
    --main-font: 'Poppins', sans-serif;
    --accent-font: 'Lora', serif;
    /* color palette */
    --off-white: #f6f6f6;
    --darker-white: #E6E6E6;
    --font-green: #cddbb6;
    --dark-green: #162802; 
    --pale-green: #b3c0a0;
    --sec-color: #a0c7fe;

    /* --dark-green: #233349;
    --pale-green: #9eafb6; */
    /* --sec-color: #c4772a; */
}
body {
    margin: 0;
    padding: 0;
    color: #162802;
    /* background-color: #e7e8ec; */
    background-color: #f6f6f6;
}
html {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
}
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* overflow: hidden; */
}

/* animations */
@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 10px));
    }
}